<p id="notice"><%=  notice %></p>

<div class="container">
 <div class="row">
  <div class="col-md-3">

<%= render 'books/list1', user:@user %>
<%= render 'books/list2', book:@book %>
  </div>
  <div class='col-md-8 offset-md-1'>
  <h1>Users</h1>

   <table class="table table-hover">
   <thread>
    <tr>
     <th class='table-name'>image</th>
     <th class='table-name'>name</th>
     <th></th>
    </tr>
   </thread>
   <% @users.each do |user| %>
   <tr>
    <td><%= attachment_image_tag user, :profile_image, size: '100x100', fallback: "no_image.jpg" %></td>
    <td><%= user.name %></td>
    <td><%= link_to "Show", user_path(user.id) %></td>
   </tr>
   <% end %>
   </table>
   </div>
  </div>
</div>