 <p id="notice">
 <%=  notice %>
 </p>
<%= render 'books/list1', user:@user %>
<%= render 'books/list2', book:@book %>

<table class="table table-hover">
<thread>
  <tr>
   <th class='table-name'>image</th>
   <th class='table-name'>name</th>
  </tr>
  </thread>
 <% @users.each do |user| %>
  <tr>
    <td><%= attachment_image_tag user, :profile_image %></td>
    <td><%= user.name %></td>
    <td><%= link_to "Show", user_path(user.id) %></td>
  </tr>
  <% end %>
</table>