     <h1>New Book</h1>
      <%= form_with model: @book, local:true do |f| %>
      <h4>title</h4>
      <%= f.text_field :title %>
      <h4>opinion</h4>
      <%= f.text_area :body %>
      <%= f.submit 'Create Book' %>
    <% end %>





<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
  <%= attachment_image_tag book, :image %>
  <% end %>

  <p>title：<%= book.title %></p>
  <p>opinion：<%= book.body %></p>

</div>
<% end %>