<%= render 'books/list1', user:@user %>
<%= render 'books/list2', book:@book %>

<div class="post-body">
  <%= attachment_image_tag @book, :image %>
  <p>title：<%= @book.title %></p>
  <p>opinion：<%= @book.body %></p>
  <p>：<%= @book.user.name %></p>

</div>
 <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
